*{
    padding: 0%;
    margin: 0;
    scroll-behavior: smooth;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.header .logo li{
    transition: all 0.3s;
}
.header .logo li:hover{
    transform: scale(1.2);
}
.header .logo li{
    list-style: none;
    padding: 25px;
}
.header{
    background-color: #353130;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.header .logo{
    cursor: pointer;
}
.header .logo img {
    width: 150px;
}
.header .logo img :hover{
    width: 300px;
}
.header .logo img {
    transition: all 0.3s;
}
.nav-links a {
    color: white;
}
.nav-links a {
    text-decoration: none;
}
.nav-links li {
   transition: all 0.3s;
  
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links{
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding:25px;
}  
.boton-comprar{
    padding: 15px;
}

.carteles_descuento{
    display: flex;
   justify-content:center;
    text-align: center;
    margin: 100px;
}
.persona_desc{
    text-align: center;
    color: white;
    font-size: xx-large;
    height: 50px;
    line-height: 300px;
    padding-right: 20px;
    width: 300px;
    border-radius: 5px;
}
.cartel_desc{
   margin-right: 15px;
   line-height: normal;
}
.form_de_compra{
    display: flex;
    justify-content: center;
    
}
.cartel_venta h1 {
    text-align: center;
}


.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-control {
    margin-bottom: 10px; 
}

.btn {
    margin-top: 10px; 
}